<!doctype html>
<html>

<head>
  <meta charset="utf-8" /> {% block title %}{% end %}
  <!-- <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}"> -->
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
  <!-- Materialize Libraries -->
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{{ static_url("materialize/css/materialize.min.css") }}">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper blue lighten-1">
        <a href="/" class="brand-logo waves-effect waves-light">Wargame</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light" href="/signup" target="_self">註冊</a></li>
          <li><a class="waves-effect waves-light" href="/challenge" target="_self">題目</a></li>
          {% if current_user %}
          <li><a class="waves-effect waves-light" href="/logout" target="_self">登出</a></li>
          {% else %}
          <li><a class="waves-effect waves-light" href="/login" target "_self">登入</a></li>
          {% end %}
          <li><a class="waves-effect waves-light" href="/submit" target="_self">提交</a></li>
          <li><a class="waves-effect waves-light" href="/scoreboard" target="_self">排行</a></li>
        </ul>
            <ul id="mobile-demo" class="side-nav">
              <li><a class="waves-effect waves-light" href="/signup" target="_self">註冊</a></li>
              <li><a class="waves-effect waves-light" href="/challenge" target="_self">題目</a></li>
              {% if current_user %}
              <li><a class="waves-effect waves-light" href="/logout" target="_self">登出</a></li>
              {% else %}
              <li><a class="waves-effect waves-light" href="/login" target "_self">登入</a></li>
              {% end %}
              <li><a class="waves-effect waves-light" href="/submit" target="_self">提交</a></li>
              <li><a class="waves-effect waves-light" href="/scoreboard" target="_self">排行</a></li>
            </ul>
      </div>

    </nav>
  </header>
  {% block body %} {% end %}
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="{{ static_url("materialize/js/materialize.min.js") }}"></script>
  <script src="{{ static_url("js/materialize_customize.js") }}"></script>

</body>

</html>
