{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 規則</title>
{% end %}

{% block body %}
<div class="parallax-container">
	<div class="parallax amber">
	</div>
</div>
	<div class="container rule flow-text section">
        <div class="content scrollbar row">
            <fieldset>
              <legend>Web100</legend>
              <p>Something went wrong in this page</p>
              <br/>
              <a href='/PNF'>link</a>
            </fieldset>
            <fieldset>
              <legend>Web200</legend>
              <p>What the fxxk is this file ...</p>
              <p>Can you figure it out ?</p>
              <br/>
              <a href='static/js/wtf.js'>link</a>
            </fieldset>
            <fieldset>
              <legend>Web300</legend>
              <p>Can you login as admin to get the flag ?</p>
              <a href='http://140.127.196.95/'>link</a>
            </fieldset>
        </div>
	</div>
{% end %}
