{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 題目</title>
{% end %}

{% block body %}
	<div class="container rule flow-text section">
        <div class="content scrollbar row">
            <div class="card-panel">
              <h2>Web10</h2>
              <p>Can you alert me ?</p>
              <br/>
              <a href='http://140.127.196.95/echo.php'>link</a>
							<br/>

							{% if hint %}
							<ul class="collapsible" data-collapsible="expandable">
						    <li>
						      <div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Hint</div>
						      <div class="collapsible-body"><p>strip once.</p></div>
						    </li>
							</ul>
							{% end %}
							</div>
            <div class="card-panel">
              <h2>Web50</h2>
              <p>Can you find out the password of admin ?</p>
              <br/>
              <a href='http://140.127.196.95/query.php'>link</a>
							<br/>
							{% if hint %}
  						<ul class="collapsible" data-collapsible="expandable">
						    <li>
						      <div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Hint</div>
						      <div class="collapsible-body"><p>logic flaw is the hole thing.</p></div>
						    </li>
							</ul>
							{% end %}
						</div>


            <div class="card-panel">
              <h2>Web100</h2>
              <p>Something went wrong in this page</p>
              <br/>
              <a href='/PNF'>link</a>
							<br/>
							{% if hint %}
							<ul class="collapsible" data-collapsible="expandable">
								<li>
									<div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Hint</div>
									<div class="collapsible-body"><p>黨不能沒有柱姊</p></div>
								</li>
							</ul>
							{% end %}
            </div>

            <div class="card-panel">
              <h2>Web200</h2>
              <p>What the fxxk is this file ...</p>
              <p>Can you figure it out ?</p>
              <br/>
              <a href='static/js/wtf.js'>link</a>
							<br/>
							{% if hint %}
							<ul class="collapsible" data-collapsible="expandable">
								<li>
									<div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Hint</div>
									<div class="collapsible-body"><p>It is jsfucking you</p></div>
								</li>
							</ul>
							{% end %}
            </div>

            <div class="card-panel">
              <h2>Web300</h2>
              <p>Can you login as admin to get the flag ?</p>
              <a href='http://140.127.196.95/'>link</a>
							<br/>
							{% if hint %}
							<ul class="collapsible" data-collapsible="expandable">
								<li>
									<div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Hint</div>
									<div class="collapsible-body"><p>HINT: login function is stupid</p></div>
								</li>
							</ul>
							{% end %}
            </div>

        </div>
	</div>
{% end %}
