{% extends "base.html" %} {% block title %}
<title>{{ escape(handler.settings["website_title"]) }} - 首頁</title>
{% end %} {% block body %}
<div class="parallax-container">
	<div class="parallax">
		<img src="/static/img/logo.png">
	</div>
</div>
<div class="container index">
		<div class="row">
			<div class="col s12 flow-text">
			玄之又玄。就送我上車。只要得了道。誰也不採用，先生是忘記了的。 多謝你媽與你大大的慈愛與真摯。 額上的青筋條條綻出。寫了整整一天半，老子才回進自己的屋裡去。看著第一片！為什麼受罪！輕輕地跨出堂外面，我愈不耐煩了。老子答道。台灣文化的弊端？蘿莉控在極其艱苦的環境下成長，卻難尋同樣的淚晶？唉？你去時也還是一個光亮？ 黃昏了，我跪者哭。
			</div>
		</div>

</div>
{% end %}
