{% extends "base.html" %} {% block title %}
<title>{{ escape(handler.settings["website_title"]) }} - 登入</title>
{% end %} {% block body %}
<div class="container">
<div class="row">
		<form class="col s12" method="post" id="form" action="{{ request.path }}">
			<div class="label">
				<label>Log in</label>
			</div>
		<div class="row">
			<div class="input-field col s4">
				<input type="text" name="username" class="gettext" id="username" placeholder="帳號" class="validate" required/>
				<label for="username">帳號</label>
			</div>
			<div class="input-field col s4">
				<input type="password" name="password" class="gettext" id="password" placeholder="密碼" class="validate" required/>
				<label for="password">密碼</label>
			</div>
			<div class="input-field col s4">
			<input class="waves-effect waves-light btn blue lighten-1 submitBtn" type="submit" value="登入" />
			</div>
		</div>
		</form>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax">
		<img src="/static/img/logo.png">
	</div>
</div>
{% end %}
