{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 登入</title>
{% end %}

{% block body %}
<div class="container index">
	<div class="bg_img">
		<img src="/static/img/logo.png">
	</div>
	<div class="content">
        <form name="form" id="form" action="{{ request.path }}" method="POST" enctype="text/plain">
			<div class="label"><label>Log in</label></div>
			<input type="text" class="gettext" id="userId" name="username" placeholder="帳號"> <br>
            
            <input type="password" class="gettext" id="userPw" name="password" placeholder="密碼"> <br>
            <input type="submit" id="submitBtn" value="登入">
		</form>
	</div>
</div>
{% end %}
