{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 登入</title>
{% end %}

{% block body %}
<div class="container index">
	<div class="bg_img">
		<img src="/static/img/logo.png">
	</div>
	<div class="content">
        <form method="post" id="form" action="{{ request.path }}">
			<div class="label"><label>Log in</label></div>
			<input type="text" name="username" class="gettext" id="username" placeholder="帳號"/> <br>
            <input type="password" name="password" class="gettext" id="password" placeholder="密碼"/> <br>
            <input type="submit" id="submitBtn" value="登入"/>
		</form>
	</div>
</div>
{% end %}
