{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 排行</title>
<meta http-equiv="refresh" content="5; URL=/scoreboard">
{% end %}

{% block body %}
	<div class="container scoreboard flow-text section">
		<div class="up"></div>
		<div class="down"></div>
		<div class="content">
			<div class="data">
				<span class="rank">Rank</span>
				<span class="username">Name</span>
				<span class="score">Score</span>
        {% for _ in xrange(len(challenges))%}
				  <span class="quest_flag"></span>
        {% end %}
			</div>
			<hr>
      <div class="content_scoreboard scrollbar" id="exam">
            {% if records is not None %}
                {% for record in records %}
			          <div class="data">
                    <span class="rank">{{ records.index(record)+1 }}</span>
                    <span class="username">{{ record["username"] }}</span>
                    <span class="score">{{ record["score"] }}</span>
                    {% for challenge in challenges %}
                    <span class="quest {% if not record[challenge]%}fail{% else %}success{% end %}" title="{{ challenge }}"></span>
                    {% end %}
                </div>
                {% end %}
            {% end %}
			</div>
		</div>
	</div>
{% end %}
