{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 分數排行</title>
{% end %}

{% block body %}
	<div class="container scoreboard">
		<div class="up"></div>
		<div class="down"></div>
		<div class="bg_img">
			<img src="/static/img/score.png">
		</div>
		<div class="content">
			<div class="data">
				<span class="rank">Rank</span>
				<span class="username">Name</span>
				<span class="score">Score</span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
			</div>
			<hr>
			<div class="content_scoreboard scrollbar" id="exam">
				<div class="data">
					<span class="rank">1</span>
					<span class="username">Wang</span>
					<span class="score">15648</span>
					<span class="quest"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">2</span>
					<span class="username">Tony</span>
					<span class="score">15648</span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
				<div class="data">
					<span class="rank">3</span>
					<span class="username">John Fang</span>
					<span class="score">15648</span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
					<span class="quest fail"></span>
					<span class="quest success"></span>
					<span class="quest success"></span>
				</div>
			</div>
		</div>
	</div>
{% end %}
