{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 分數排行</title>
{% end %}

{% block body %}
<div class="parallax-container">
	<div class="parallax amber">
	</div>
</div>
	<div class="container scoreboard flow-text">
		<div class="up"></div>
		<div class="down"></div>
		<div class="content">
			<div class="data">
				<span class="rank">Rank</span>
				<span class="username">Name</span>
				<span class="score">Score</span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
				<span class="quest_flag"></span>
			</div>
			<hr>
            <div class="content_scoreboard scrollbar" id="exam">
                {% if records is not None %}
                {% for record in records %}
				<div class="data">
                    <span class="rank">{{ records.index(record)+1 }}</span>
                    <span class="username">{{ record["username"] }}</span>
                    <span class="score">{{ record["score"] }}</span>
                    <span class="quest {% if record["w100"] == "" %}fail{% else %}success{% end %}" title="w100"></span>
					<span class="quest {% if record["w200"] == "" %}fail{% else %}success{% end %}" title="w200"></span>
					<span class="quest {% if record["w300"] == "" %}fail{% else %}success{% end %}" title="w300"></span>
                </div>
                {% end %}
                {% end %}
			</div>
		</div>
	</div>
{% end %}
