{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 註冊</title>
{% end %}

{% block body %}
<div class="container index">
<form class="form-horizontal" action="{{ request.path }}" method="post">
<fieldset>
   
	<p>
		Noticed:
			申請帳號請使用學號（開頭不用isu）
	</p>
    <legend>註冊資料</legend>
    <div class="form-group">
    <input type="text" name="username" placeholder="帳號：10003000a"/><br/>
    </div>
    <div class="form-group">
    <input type="password" name="password" placeholder="密碼：至少四位數"/></br>
    </div>
    <div class="form-group">
    <input type="email" name="email" placeholder="E-mail:user@example.com"/></br>
    </div>
    <div class="form-group">
    <input type="submit" value="送出"/>
    </div>
    
</fieldset>
</form>
</div>
{% end %}
