{% extends "base.html" %}

{% block title %}
<title>{{ escape(handler.settings["website_title"])  }} - 題目</title>
{% end %}

{% block body %}

<div class="container challenge white flow-text">
    <form action="{{ request.path }}" method="post">
        <label >Flag: </label>
        <input type="text" name="key"/>
        <input class="waves-effect waves-light btn blue lighten-1" type="submit" value="送出" />
        <p>{% if check_result == True %}恭喜你得分！{% else %}可惜～再試試吧！{% end %}</p>
    </form>
</div>
<div class="parallax-container">
	<div class="parallax amber">
	</div>
</div>
<div class="container section flow-text">
    <div>
		Welcome ,	{{ username }}
	</div>
</div>

{% end %}
